<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"

       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
">

    <bean name="tweetRepository" class="ua.rd.repository.InMemTweetRepository"/>
    <bean name="userRepository" class="ua.rd.repository.InMemUserRepository"/>


    <bean name="tweetService" class="ua.rd.services.SimpleTweetService">
        <constructor-arg ref="tweetRepository"/>
        <constructor-arg ref="timelineConfigurer"/>
        <lookup-method name="newTweet" bean="tweet"/>
    </bean>
    <bean name="userService" class="ua.rd.services.SimpleUserService">
        <constructor-arg ref="userRepository"/>
        <constructor-arg ref="tweetRepository"/>
        <lookup-method name="newUser" bean="user"/>
    </bean>

    <bean name="timelineConfigurer" class="ua.rd.config.TimelineConfigurer"/>
    <bean name="tweet" class="ua.rd.domain.Tweet" scope="prototype">
        <constructor-arg type="java.lang.Long" value="130"/>
    </bean>
    <bean name="user" class="ua.rd.domain.User" scope="prototype" lazy-init="true">
    </bean>

</beans>